{
  "extends": "airbnb",
  "rules": {
    max-len: [
      "error", { "ignoreComments": true , "ignoreTrailingComments": true }
    ]
  },
  "globals": {
      "browser": true,
      "assert": true,
    },
  "env": {
      "es6": true,
    }
}
